body {
  background-color: #f0f2f5;
}

.App {
  background-color: aqua;
  text-align: center;
}

.App-content {
  background-color: wheat;
}

.App-title {
  background-color: #222;
  color: #f0f2f5;
}

.App-description {
  background-color: aliceblue;
}

.App-domain {
  text-align: center;
}

.App-navbar {
  background-color: #222;
  color: #f0f2f5;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.navbar {
  background-color: #222;
}

.nav-link {
  background-color: yellowgreen;

}

.nav-item {
  margin: 0.1rem;
}

a {
  color: #f0f2f5 !important;
  font-weight: bold !important;
  text-align: center;
}

