body {
  background-color: #f0f2f5;
}

.App {
  text-align: center;
}

.App-content {
}

.App-title {
  background-color: #222;
  color: #f0f2f5;
}

.App-description {
  background-color: aliceblue;
  font-size: 1rem;
}

.App-description small{
  font-size: 0.7rem;
}

.App-domain {
  text-align: center;
}

.App-navbar {
  color: #f0f2f5;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.menu {
  background-color: #222;
  text-align: center;
}

.link {
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.item {
  background-color: yellowgreen;
  margin: 0.05em;
  list-style: none;
  display: flex;
  text-align: center;
}

a {
  color: #f0f2f5 !important;  
  font-weight: bold !important;
  text-align: center;
  margin: 0;
  padding: 0;
}

.AppLateral {
}